<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz 01 Daniela Esparza 6D
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  col-sm>
        <ion-card *ngFor= "let item of items">
          <ion-card-header>
            <p style.background-color="{{item.color}}">
            <ion-card-title >
             Nombre: {{item.nombre}} {{item.apellidos}}
            </ion-card-title>
          </p>
            <ion-card-content>
            <h1>
               Edad: {{item.edad}}
             </h1>
            <h1>
              Color: {{item.color}}
            </h1>
             <img src= {{item.foto}}> <img>
            </ion-card-content>
          </ion-card-header >
       
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
